<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Week06 Test Suite" parallel="tests" thread-count="1">
<!--    <parameter name="browser" value="chrome"></parameter>-->
    <test name="Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="applaudo.test.Week06"></class>
        </classes>
    </test>
    <test name="FireFox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="applaudo.test.Week06"></class>
        </classes>
    </test>
    <test name="Edge">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="applaudo.test.Week06"></class>
        </classes>
    </test>
</suite>